<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8' />
    <link href="~/css/abc.css" rel="stylesheet" />
    <title></title>
</head>
<body>
    <form action="/virus/create2" method='POST'>
        病毒代码：<input id='Text1' type='text' name='VirusCode' /><br />
        病毒名称：<input id='Text2' type='text' name='VirusName' /><br />
        <button type='submit'>提交</button>
    </form>
</body>
</html>