<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8' />
    <link href='css/abc.css' rel='stylesheet' />
    <title></title>
</head>
<body>
    欢迎进入病毒库管理
    <br />
    <a href='/virus/create'>添加病毒</a>
</body>
</html>